	* {
	font-family: myriad pro;
	background-color: rgba(51, 61, 73, 0.97);
	color: rgba(255, 104, 92, 0.97);
}

#header_ph {
	grid-column: 1/-1;
	grid-row: 1;
	width: 100%;
}

#tagmenu{

	grid-column: 1/-1;
}

#tagmenu li{
	display: inline;
	margin: auto;
	padding: 20px;

}

main {
	display: grid;
	grid-template-columns: repeat(5, 1fr);
}


@media (min-width:375px) {

	#list {
		display: grid;
		grid-template-columns: repeat(1, 1fr);
		grid-column: -1/1;
		grid-row: 2;
		margin: auto;
	}

	nav {
		display: grid;
		grid-column: 1/-1;
		font-size: 2em;
		margin: auto;
	}
	nav a {
		text-decoration: none;
		border: 20px;
		padding: 30px;
		text-align: center;
	}

	#list {
		display: grid;
		grid-template-columns: repeat(1, 1fr);
		grid-column: -1/1;
		grid-row: 2;
		margin: auto;
	}
}








@media (min-width:600px) {

	nav{
		display:inline;
		padding-top: 20px;
		grid-column: 1/3;

	}


	#list {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		grid-column: -1/1;
		grid-gap: 50px
	}


